# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Flask Instance Folder (contains local configs, secrets, databases)
instance/

# Environment Variables & Secrets
.env
.flaskenv
*.env
flask_session/

# Operating System Files
.DS_Store
Thumbs.db

# Databases & SQLite
*.db
*.sqlite3

# Packaging & Distributions
build/
dist/
*.egg-info/

# Testing & Coverage Reports
.pytest_cache/
.coverage
htmlcov/

# IDEs & Editors
.vscode/
.idea/
*.swp
